<%= form_for(@bookshelf) do |f| %>
  <% if @bookshelf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookshelf.errors.count, "error") %> prohibited this bookshelf from being saved:</h2>

      <ul>
      <% @bookshelf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :location %>
    <%#= f.text_area :location, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "50x5" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
