<h1>Listing bookshelves</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookshelves.each do |bookshelf| %>
  <tr>
    <td><%= bookshelf.name %></td>
    <td><%= bookshelf.description %></td>
    <td><%= link_to 'Show', bookshelf %></td>
    <td><%= link_to 'Edit', edit_bookshelf_path(bookshelf) %></td>
    <td><%= link_to 'Destroy', bookshelf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookshelf', new_bookshelf_path %>
