- available_bookshelves = @bookshelves.select{ |b| b.available? }

- unless available_bookshelves.empty?
  = form_for :bookshelf, :url => assign_bookshelf_path(@location) do |f|
    = label 'available_bookshelf_id', "Available Bookshelves"
    = select_tag 'available_bookshelf_id',
      options_from_collection_for_select(available_bookshelves, 'id', 'name')
    = f.submit "Assign to location"
  %input{ :type => :text, :name => "bookshelf_location_json", :id => "bookshelf_location_json", :value => {}.to_json}
  -#%input{ :type => :hidden, :name => "bookshelf_location_json", :id => "bookshelf_location_json", :value => {}.to_json}
  %input{ :type => :button, :onclick => 'window.updatePositions()', :value => 'boom' }
- else
  No available bookshelves

- unless @location.bookshelves.empty?
  Assigned bookshelves:
  %ul#assignedBookshelves.actions
    - @location.bookshelves.each do |b|
      %li
        %span.bookshelfName{ :data => {:bookshelf_id => b.id} }
          = b.name
        = link_to "remove", unassign_bookshelf_path(@location, b)
- else
  No assigned bookshelves


%br

- if @location.map?
  #locationMap
    = image_tag @location.map.url

-# render bookshelf json data
:javascript
  var bookshelves_json = #{@location.bookshelves.to_json}
